<div class="flex h-screen bg-gray-50">

  <div class="w-80 min-w-60 bg-white shadow-xl flex flex-col p-4 border-r border-gray-200">
    <h2 class="text-2xl font-semibold mb-8 text-indigo-700">Syncra</h2>

    <nav class="flex-grow space-y-2">
      <a [routerLink]="['/dashboard']"
         [routerLinkActive]="['bg-indigo-50', 'text-indigo-700']"
         [routerLinkActiveOptions]="{exact: true}"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100">
        <span class="ml-3 font-medium">Home</span>
      </a>

      <a [routerLink]="['/dashboard/availability']"
         [routerLinkActive]="['bg-indigo-50', 'text-indigo-700']"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100">
        <span class="ml-3 font-medium">Availability</span>
      </a>

      <a [routerLink]="['/dashboard/handle-calendars']"
         [routerLinkActive]="['bg-indigo-50', 'text-indigo-700']"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100">
        <span class="ml-3 font-medium">Calendars</span>
      </a>
    </nav>

    <a (click)="logout()" class="flex items-center p-2 text-red-600 rounded-lg cursor-pointer hover:bg-red-50">
      <span class="ml-3 font-medium">Logout</span>
    </a>
  </div>

  <div class="flex-grow p-6 overflow-y-auto">
    <router-outlet></router-outlet>

    </div>
</div>
